<!DOCTYPE html>

<body>
    <center>
    <h1>List Of Locations</h1>

    <a href="{% url 'NewYork' %}" value="newyork">New York City, New York</a><br>
    <a href="{% url 'Boston' %}" value="boston">Boston, Massachusetts</a><br>
    <a href="{% url 'LA' %}" >Los Angeles, California</a><br>
    <a href="{% url 'Chicago' %}" >Chicago, Illinois</a><br>
    <a href="{% url 'Huston' %}" >Huston, Texas</a><br>
    <a href="{% url 'Pheonix' %}" >Pheonix, Arizona</a><br>
    <a href="{% url 'SanDiego' %}" >San Diego, California</a><br>
    <a href="{% url 'Dallas' %}" >Dallas, Texas</a><br>
    <a href="{% url 'SanJose' %}" >San Jose, California</a><br>
    <a href="{% url 'Austin' %}" >Austin, Texas</a><br>
    <a href="{% url 'Columbus' %}" >Columbus, Ohio</a><br><br><br><br><br>
    <a href="{% url 'updateAgentsDistance' %}" ><strong>Update Agents Distance</strong></a><br>
    </center>
    

</body>

</html>